<a href="https://colab.research.google.com/github/Mukito/21/blob/master/Estudos_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***=================================================================***

*** 1 - Faça um Programa que mostre a mensagem "Alo mundo" na tela. ***

In [ ]:
print('Ola Mundo ')

*** 2 - Faça um Programa que peça um número e então mostre a mensagem O número informado foi [número].***

In [ ]:
num = int(input('Digite um numero: '))
print(' o numero informado foi:', num)

*** 3 - Faça um Programa que peça dois números e imprima a soma. ***

In [ ]:
num1 = int(input('Digite um numero: '))
num2 = int(input('Digite um outro numero: '))
soma = (num1 + num2)
print('A soma dos numeros é: ', soma)

***4 - Faça um Programa que peça as 4 notas bimestrais e mostre a média.***

In [ ]:
n1 = float(input('Digite sua 1 nota: '))
n2 = float(input('Digite sua 2 nota: '))
n3 = float(input('Digite sua 3 nota: '))
n4 = float(input('Digite sua 4 nota: '))
m = (n1 + n2 + n3 + n4)/4
print('Sua media é: ', m)

***5 - Faça um Programa que converta metros para centímetros. ***

In [ ]:
metros = float(input('Digite quantos metros: '))
cen = metros * 100;
print(cen, 'Centimetros')

Digite quantos metros: 5
500.0 Centimetros

In [ ]:
metros = float(input('Digite o tamanho em metros: '))
print('O valor {}m em centimetros é {:.0f}cm'.format(metros, metros * 100))
print('O valor {}m em milimetros é {:.0f}mm'.format(metros, metros * 1000))
#simples é facil

Digite o tamanho em metros: 10
O valor 10.0m em centimetros é 1000cm
O valor 10.0m em milimetros é 10000mm

========================================================

In [ ]:
from ast import Str
from pickle import STRING
dia = int(input('Digite o dia do seu nascimento: '))
mes = str(input('Digite o mes do seu nascimento: '))
ano = int(input('Digite o Ano do seu Nascimento: '))
print('Você nasceu no dia {} de {} de {}'.format(dia, mes, ano))

Digite o dia do seu nascimento: 16
Digite o mes do seu nascimento: maio
Digite o Ano do seu Nascimento: 1979
Você nasceu no dia 16 de maio de 1979

In [ ]:
n1 = int(input('Primeiro numero: '))
n2 = int(input('Segundo numero: '))
if n1 > n2:
  print('Primeiro numero é maior')
elif n1 < n2:
  print('Segundo numero maior')
else: 
  print('Numeros Iguais')

Primeiro numero: 9
Segundo numero: 1
Primeiro numero é maior